@font-face {
  font-family: "Bookerly";
  src: url("../../fonts/Bookerly-BoldItalic.woff2") format("woff2"),
    url("../../fonts/Bookerly-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

.about__container{
  display: flex;
  flex: column;
  flex-wrap: wrap;
  /* max-width: 1350px; */
  max-width: 800px;
  margin: 20px auto 40px auto;
  padding: 20px 50px;
  height: 100%;
  min-height: 100vh;
  background-color: white;
}

.about__title {
  margin: 0px auto 20px auto;
}

.about__content {
  /* margin: 20px 200px; */
}

.about__content h2 {
  margin: 40px 50px 40px 50px;
  text-align: center;
}

.about__content p {
  margin: 0px 50px;
  line-height: 50px;
}


.about__intro{
  display: flex;
  /* height: 500px; */
  max-width: 100%;
  /* background-image: url("https://images.unsplash.com/photo-1606787503066-794bb59c64bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80"); */
  /* background-size: cover; */
}

.about__img1 {
  flex-basis: 50%;
}

.about__img1 img{
  max-width: 100%;

}

/* .about__p1 {
  flex-basis: 50%;
  margin-bottom: 200px;
  font-size: 25px;
  font-family: Bookerly;
} */