.home-container {
  max-width: 1350px;
  margin: 0 auto 0px auto;
  padding: 0 50px;
  height: 100%;
  min-height: 100vh;
  /* padding: 40px 50px; */
}

/* .banner {
  background-image: url("https://images.unsplash.com/photo-1606787503066-794bb59c64bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  height: 500px;
} */

.featured-recipes {
 

  /* margin: 40px 40px; */
  max-width: 100%;
  padding: 25px 40px 15px 40px;
  position:relative;
}


.featured-background {
  /* background-image: url("https://images.unsplash.com/photo-1606787503066-794bb59c64bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80"); */
  /* background-size: cover; */
  /* filter: blur(8px); */
  /* background-color: orange; */
  right: 50%;
  left: 50%;
  margin-right: -50vw;
  margin-left: -50vw;
  width: 100vw;
  height: 100vh;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -1;

}


.featured-recipes__title {
    white-space: pre-line;
    font-family: 'Luckiest Guy';
    line-height: 1.5;
    /* color: #fff6e5; */
    color: orange;
    -webkit-text-stroke: 0.1px black;
    /* color: #009900; */
    /* color: rgb(0, 95, 0); */
    font-size: 70px;
    text-align: center;
    margin-bottom: 45px;
    text-shadow: rgba(0, 0, 0, 0.753) 3px 4.5px ;
}

.carousel__container {
  overflow: hidden;
  max-width: 100%;
  margin: 40px 20px;
  max-height: 100%;
}

.carousel__slide {
  position: relative;
  display: flex;
  min-height: 100%;
}

.carousel__img {
  max-width: 100%;
  max-height: 500px;
  width: 100%;
}

.carousel__title {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* iOS */
  transform: translate(-50%, -50%);
  /* width: 600px; */
  /* height: 60px; */
  margin: 20px auto;
  text-align: center;
  backdrop-filter: blur(5px) brightness(85%);
  color: white;
  font-size: 25px;
}

.countries {
  position: relative;
  padding: 70px 0px;
}

.countries-background{
  background-color: #fcefd2;
  right: 50%;
  left: 50%;
  margin-right: -50vw;
  margin-left: -50vw;
  width: 100vw;
  /* height: 100%; */
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -1;

}

.countries__title {
  margin-bottom: 20px;
  text-align: center;
}

.countries__title h1 {
  font-size: 50px;
  font-family: 'Nerko One';
  /* color: #fff6e5; */
    color: yellow;
  -webkit-text-stroke: 1px black;
  text-align: center;
  font-size: 70px;
  text-shadow: rgba(0, 0, 0, 0.753) 3px 4.5px ;
}

.country-container {
  display: flex;
  background-color: #fcefd2;

  /* width: 1200px; */
  flex-wrap: wrap;
  max-width: 100%;
  margin: 10px auto;
  padding: 0px;
  /* padding: 40px 50px; */
}

/* .countries__cards {
  flex-basis: 33%;
} */

.countries__container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: blue; */
  justify-content: center;
  margin: 5px auto;
  max-width: 1000px;
}



.to-browse{
  margin: 40px auto 0 auto;
}

.to-browse button{
  font-size: 20px;
}