.profile__container {
    /* background-image: url("../images/create-recipe.jpg"); */
    /* background-size: 1500px; */
    /* background-size: cover; */
    display: flex;
    max-width: 1350px;
    margin: 20px auto 40px auto;
    padding: 20px 50px;
    height: 100%;
    min-height: 100vh;
  }
  
  .profile__card {
    max-width: 550px;
    min-width: 550px;
    /* border: 1px solid black; */
    padding: 40px;
    margin: 20px auto;
    /* border-radius: 5px; */
    background-color: #fdf6e3;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  
  .profile__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
  }

  .profile__content h1 {
    margin: 0px auto 20px auto;
  }


/*   
  .recipe-form input, textarea {
    margin-bottom: 10px;
  }
  
  .recipe-form textarea {
    height: auto;
  } */
  
/*   
  .ratings {
    display: flex;
    max-width: 100%;
  }
  
  .ratings__field {
    max-width: 26%;
    flex-basis: 1;
    font-size: 15px;
  }
  
  .ratings__field input {
    max-width: 100%;
  }
  
  .ratings__field:not(:last-child) {
    margin-right:50px;
  }
   */