@font-face {
    font-family: 'Bookerly Display';
    src: url('BookerlyDisplay-Regular.woff2') format('woff2'),
        url('BookerlyDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bookerly';
    src: url('Bookerly-BoldItalic.woff2') format('woff2'),
        url('Bookerly-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bookerly Display';
    src: url('BookerlyDisplay-Bold.woff2') format('woff2'),
        url('BookerlyDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bookerly Display';
    src: url('BookerlyDisplay-BoldItalic.woff2') format('woff2'),
        url('BookerlyDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bookerly Display';
    src: url('BookerlyDisplay-Italic.woff2') format('woff2'),
        url('BookerlyDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bookerly';
    src: url('Bookerly-LightItalic.woff2') format('woff2'),
        url('Bookerly-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bookerly';
    src: url('Bookerly-LightItalic.woff2') format('woff2'),
        url('Bookerly-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bookerly';
    src: url('Bookerly-Bold.woff2') format('woff2'),
        url('Bookerly-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bookerly';
    src: url('Bookerly-Light.woff2') format('woff2'),
        url('Bookerly-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bookerly';
    src: url('Bookerly-Italic.woff2') format('woff2'),
        url('Bookerly-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bookerly';
    src: url('Bookerly-Italic.woff2') format('woff2'),
        url('Bookerly-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bookerly';
    src: url('Bookerly-Regular.woff2') format('woff2'),
        url('Bookerly-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

