.navbar__container {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    padding: 5px 20px;
    background-color: #fff6e5;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px;
    width: 100%;
}

.navbar__logo {
    max-height: 100%;
    max-width: 100%;
}

.navbar__logo img {
    max-height: 80px;
    background-color: orange;
}



/* .profile__dropdown.false {
    display:none;
}

.profile__dropdown.active {
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 90px;
    right: 100px;
    background: white;
    border-radius: 10px;
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
    z-index: 1;
}

.profile__dropdown.active::before{
    content:'';
    position: absolute;
    top: -5px;
    right: 10px;
    height: 20px;
    width: 20px;
    background: white;
    transform: rotate(45deg);
} */

@media (max-width: 768px) {
    .navbar {
        width: 100%;
    }
}
